/* Так указываем через id (только 1 тег с этим id может быть) */
#main_text {
    color: red;
}
/* Так указываем через class (они могут быть на нескольких Тегах) */
.abd {
    color: blue;
}
/* Таким образом я указываю, что хочу добавить стиль тегам b и i которые находятся в теге p который находится в теге div */
div p b, div p i {
    color: green;
}
/* Можно указать тег, класс, id, и теги внутри тегов и назначить им всем один стиль
teg, .class, #id, teg teg teg {
    color: orange;
}
*/