
                                                                                                                        /*__________________Pseudoclasses_____________________*/

/* указывая теги, id, class - мы указываем селекторы (selections) */
.main_link {
    color: red;
    text-decoration: none; /* Декорация ссылки, в данном случае я убрал подчеркивание */
}

/* Так указываем псевдоклассы - селектор, одно двоеточие и сам псевдокласс, а псевдоэлемент через 2 двоеточия  */
.main_link:hover { /* hover - псевдокласс который изменит стиль при НАВЕДЕНИИ на текст */
    color: blue; /* при наведении на текст цвет будет синий */
    text-decoration: overline; /* при наведении на текст сверху будет линия */
    text-decoration-color: red; /* Линия будет красным цветом */
    cursor: pointer; /* При наведении курсор меняется */
}

.main_link:active { /* active - псевдокласс который изменит стиль при НАЖАТИИ на текст */
    text-decoration: line-through;
}

.main_link4:visited { /* active - псевдокласс который изменит стиль при ПЕРЕХОДЕ по ссылке */
    color: grey;
}

input:enabled { /* Псевдокласс включенный */
    color: blue;
}
input:focus { /* focus - псевдокласс который изменит стиль когда текстовое поле активно */
    color: red
}

/* Означает что данный стиль будет только для ТЕГОВ p КЛАССА text */
p.text:not(:empty) { /* Псевдокласс не пустой */
    color: blueviolet;
}

                                                                                                                        /*__________________Pseudoelemets_____________________*/
/* Псевдоэлемент after указывает что будет после текста или чего-то другого */
#some_id::after {
    content: '123'; /* Текст который будет написано после */
    color:red; /* Цвет контента */
}

/* Означает что данный стиль будет только для текста написаного после не пустых ТЕГОВ p КЛАССА turan */
p.turan:not(:empty)::after {
    content: 'TURAN';
    color: blue;
}

p.Alua:not(:empty)::after {
    content: attr(title);
    color: blue;
}

p.Alua:not(:empty)::first-letter { /* Обращаемся к первому символу */
    color:  red;
}

p:first-of-type { /* псевдокласс означает что поменяет стиль только первого тега p */
    color: aqua;
}
/* Псевдоклассы и псевдоэлементы можно добавлять к любым селекторам */